@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pinyon+Script&family=Inconsolata:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
}
